.session-graph{
    width: 909px;
    height: 974px;
    background-color: #F6F6F6;
    border-radius: 50px;
    -webkit-box-shadow: 2px 0px 20px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 0px 20px 3px rgba(0,0,0,0.25);
    box-shadow: 2px 0px 20px 3px rgba(0,0,0,0.25);
    padding: 28px;
}

.session-graph h2{
    font-size: 50px;
    font-family: 'Jaro';
    font-weight: 400;
    text-align: center;
}