*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Jaro";
  font-weight: 400;
  src: url("./assets/fonts/Jaro/Jaro-Regular-VariableFont_opsz.ttf");
}

@font-face {
  font-family: "Jockey One";
  font-weight: 400;
  src: url("./assets/fonts/Jockey_One/JockeyOne-Regular.ttf");
}

@font-face {
  font-family: "Inria Serif";
  font-weight: 400;
  src: url("./assets/fonts/Inria_Serif/InriaSerif-Regular.ttf");
}

@font-face {
  font-family: "Inria Serif";
  font-weight: 200;
  src: url("./assets/fonts/Inria_Serif/InriaSerif-Light.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}