.session-results{
    width: 530px;
    height: 471px;
    background-color: #F6F6F6;
    border-radius: 50px;
    -webkit-box-shadow: 2px 0px 20px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 0px 20px 3px rgba(0,0,0,0.25);
    box-shadow: 2px 0px 20px 3px rgba(0,0,0,0.25);
    padding: 10px 34px;

}

.session-results h2{
    font-size: 30px;
    font-family: 'Jaro';
    font-weight: 400;
    text-align: center;
}

.session-results .results {
    display: flex;
    height: 350px;
    align-content: flex-start;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 400;
    height: 350px;
    margin-top: 32px;
    flex-wrap: wrap;
    overflow-y: scroll;
}



.session-results .results > div {
    margin-right: 20px;
}



.session-results .results div.worst{
    color: #BE0000;
}

.session-results .results div.best{
    color: #209A20;
}