section.rooms{
    width: 100%;
    margin-top: 65px;
    background-color: #81A1B4;
    padding: 25px 0;
    padding-left: 45px;
    padding-bottom: 0;
    margin-bottom: 54px;
}

.rooms-inner{
    max-width: 1410px;
    display: flex;
    flex-wrap: wrap;
}

.margin-room{
    margin-right: 79px;
    margin-bottom: 33px;
}

.margin-room:nth-child(6n){
    margin-right: 0;
}